* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tip-container {
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.tip-calculator {
  width: 400px;
  padding: 16px;
  height: 335.5px;
  border-radius: 26px;
  background-color: white;
}

.section {
  gap: 4px;
  width: 368px;
  display: flex;
  height: 303.5px;
  padding: 26px 16px;
  border-radius: 10px;
  flex-direction: column;

  background-color: #03958a;
}

p {
  font-size: 18px;
  color: #01464b;
  margin-bottom: 4px;
}

.bill-input {
  display: flex;
  padding: 8px;
  width: 336.5px;
  height: 34.5px;
  column-gap: 12px;
  border-radius: 4px;
  background-color: #f3f8fa;
}

.bill-input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.tips {
  display: flex;
}

.tips button {
  width: 70px;
  height: 35px;
  font-size: 16px;
  color: #01464b;
  border-radius: 4px;
}
