* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tip-container {
  width: 100vw;
  height: 100vw;
  display: flex;
  row-gap: 80px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.title {
  color: white;
  font-size: 80px;
}

.tip-calculator {
  width: 400px;
  padding: 16px;
  height: 335.5px;
  border-radius: 26px;
  background-color: white;
}

.section {
  width: 368px;
  display: flex;
  height: 100%;
  row-gap: 10px;
  padding: 26px 16px;
  border-radius: 10px;
  flex-direction: column;
  background-color: #03958a;
}

p {
  font-size: 18px;
  color: #01464b;
  margin-bottom: 4px;
}

.bill-input {
  display: flex;
  padding: 8px;
  width: 336.5px;
  height: 34.5px;
  column-gap: 12px;
  border-radius: 4px;
  background-color: #f3f8fa;
}

.bill-input input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

.tips {
  gap: 12px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(2, 35px);
}

.tips button {
  width: 70px;
  height: 35px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #01464b;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

#reset-button {
  height: 30px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}
